@section Scripts {
    <script>
        let ratingRange = document.getElementsByName('rating')[0];
        ratingRange.addEventListener('input', () => {
            document.getElementById('ratingText').textContent = "Rating: " + ratingRange.value;
        })
    </script>
}

@model Autoparts.Models.Part

@{
    ViewData["Title"] = "Details";
}

<div class="card text-dark rounded-5 mt-5 animate__animated animate__fadeInUp">
    <div class="card-header bg-primary rounded-5 py-4 text-white">
        <h1 class="card-title text-center">@Model.Brand.Name @Model.Name Details</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <div class="m-2">
                    <div class="d-inline-flex">
                        <h1 class="display-4">@Model.Name</h1>
                        <span class="badge bg-primary fs-6 h-25 mt-4 ms-3">@Model.TotalRating</span>
                    </div>
                    <p>@Model.Description</p>
                    <dl class="row">
                        <dt class="col-sm-3">
                            Brand:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Brand.Name)
                        </dd>
                        <dt class="col-sm-3">
                            Category:
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Category.Name)
                        </dd>
                    </dl>
                </div>
                @if (ViewBag.Login != null)
                {
                    <!-- Button to trigger modal -->
                    <button type="button" class="btn btn-primary rounded-5" data-bs-toggle="modal" data-bs-target="#addToWishesModal">
                        Add to Wishlist
                    </button>
                }
            </div>
            <div class="col-md-7">
                @foreach (var photo in Model.Photos)
                {
                    <div class="d-inline-block">
                        <img src="~/photos/@photo" class="part-img img-fluid rounded-5 m-2" style="object-fit: cover;" data-bs-toggle="modal" data-bs-target="#photoModal_@photo.GetHashCode()" />
                    </div>
                }
            </div>
        </div>

        <div class="card border-0 m-2">
            <div class="card-body">
                @if (Model.Reviews != null && Model.Reviews.Count > 0)
                {
                    foreach (var review in Model.Reviews)
                    {
                        <div class="card mt-4 p-3 rounded-5">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h4><a asp-action="Details" asp-controller="Users" asp-route-id="@review.UserId" class="text-decoration-none text-dark">@review.User!.Login</a> <span class="badge bg-primary">@review.Rating</span></h4>
                                        <p>@review.Comment</p>
                                        <small class="text-muted">Created at: @review.CreateTime</small>
                                    </div>
                                    <div class="col-md-1">
                                        @if (ViewBag.Role == "Admin" || ViewBag.Id == review.UserId)
                                        {
                                            <form asp-action="RemoveReview" asp-route-reviewId="@review.Id" asp-route-partId="@Model.Id" method="post">
                                                <button type="submit" class="btn btn-danger rounded-5">Remove</button>
                                            </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-muted text-center mt-3">Part has no reviews.</p>
                }
            </div>
        </div>

        <div class="card p-2 m-2 border rounded-5 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Add Review</h5>
                <form asp-action="AddReview">
                    <input type="hidden" name="partId" value="@Model.Id" />
                    <div class="mb-3">
                        <label for="commentText" class="form-label">Your Review</label>
                        <textarea class="form-control" name="commentText" required></textarea>
                        <input name="rating" required type="range" min="1" max="10" value="5" />
                        <p id="ratingText">Rating: 5</p>
                    </div>
                    <button type="submit" class="btn btn-primary rounded-5">Submit</button>
                </form>
            </div>
        </div>
        <a asp-action="Index" class="btn btn-outline-secondary rounded-5 float-end my-2">Back to List</a>
    </div>
</div>

<!-- Modal structure -->
<div class="modal fade" id="addToWishesModal" tabindex="-1" aria-labelledby="addToWishesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-5 p-2">
            <div class="modal-header">
                <h5 class="modal-title" id="addToWishesModalLabel">Add to Wishlist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="AddToWishes" asp-controller="Users" method="post">
                    <input type="hidden" name="partId" value="@Model.Id" />
                    <div class="mb-3">
                        <label for="commentText" class="form-label">Comment</label>
                        <textarea class="form-control" name="commentText" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary rounded-5">Add to Wishlist</button>
                </form>
            </div>
        </div>
    </div>
</div>

@foreach (var photo in Model.Photos)
{
    <!-- Modal -->
    <div class="modal fade" id="photoModal_@photo.GetHashCode()" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <!-- Changed modal-lg to modal-xl -->
            <div class="modal-content rounded-5 p-2">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="~/photos/@photo" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
}