@model IEnumerable<Autoparts.Models.Part>

@{
    ViewData["Title"] = "Parts";
}

<div class="container animate__animated animate__fadeInUp">
    <h1 class="text-center mb-4">Parts</h1>

    @if (ViewBag.Role == "Admin")
    {
        <p class="text-center">
            <a asp-action="Create" class="btn btn-primary rounded-5">Create New</a>
        </p>
    }
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card rounded-5 h-100">
                    <img src="~/photos/@item.Photos.First()" class="card-img-top rounded-5" alt="Part Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name <span class="badge bg-primary">@item.TotalRating</span></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Brand: @item.Brand.Name</li>
                        <li class="list-group-item">Category: @item.Category.Name</li>
                    </ul>
                    <div class="card-footer rounded-5 mt-4">
                        <div class="btn-group d-inline-flex" role="group">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary rounded-5 mx-2">Details</a>
                            @if (ViewBag.Role == "Admin")
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary rounded-5 mx-2">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger rounded-5 mx-2">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
