@model IEnumerable<Autoparts.Models.Issue>

@{
    ViewData["Title"] = "Issues";
}

<div class="row">
    <div class="col">
        <div class="card mt-5 rounded-5 animate__animated animate__fadeInUp">
            <div class="card-header bg-primary py-3 rounded-5">
                <h2 class="display-5 text-white text-center">Issues</h2>
            </div>
            <div class="card-body">
                <div class="text-center mb-3">
                    <button type="button" class="btn btn-primary rounded-5" data-bs-toggle="modal" data-bs-target="#createIssueByUserModal">
                        Create New
                    </button>
                </div>
                @foreach (var item in Model)
                {
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.User.Login)</h5>
                                </div>
                                <div class="col-auto">
                                    @(item.Solved == true ? @Html.Raw("<span class='badge bg-success'>Solved</span>") : @Html.Raw("<span class='badge bg-primary'>In Progress</span>"))
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Problem)</p>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary rounded-5">Details</a>
                            @if (ViewBag.Login == item.User.Login || ViewBag.Role == "Admin")
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger rounded-5">Delete</a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal structure -->
<div class="modal fade" id="createIssueByUserModal" tabindex="-1" aria-labelledby="createIssueByUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createIssueByUserModalLabel">Create Issue</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateIssueByUser" asp-controller="Issues" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="title" required />
                    </div>
                    <div class="mb-3">
                        <label for="problemText" class="form-label">Problem</label>
                        <textarea class="form-control" name="problemText" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary rounded-5">Create Issue</button>
                </form>
            </div>
        </div>
    </div>
</div>
